.w-20{
    width:20%
}

.w-30{
    width:30%
}

.logo-text{
    width: 10%;
}

.bi{
    margin-right:10px;
}

.story{
    height:80px;
    padding: 10px;
}

.db{
    width:30px;
    height:30px;
    margin-top: 6px;
    margin-right: 6px;
}

.image{
    margin-top: 5px;
    width:400px;
}

.suggestion h5{
    font-size:16px;
}

.sugestion .dp{
    margin-top:0px !important;
}

.cursor-pointer:hover{
   cursor: pointer;
   font-size: 16.5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gradient-border{
    width:55px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}

.story-dp{
    width: 50px;
    height: 50px;
}

.profile{
    width:100px;
    height:100px;
}

.split-div{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    /* background-color: #ff00ff; */
}
